<launch>
 
 <node pkg="rosbag" type="play" name="rosbag_play" args="--clock $(find project2)/bags/robotics1_final.bag" />

 <!--parameter to use bag time-->
 <param name="/use_sim_time" value="true"/>
 

 <!--static transform necessary to complete the tf tree used by gmapping to prouce the map-->
 <node pkg="tf" type="static_transform_publisher" name="base_link_to_laser_rear" args="0.0 0.0 0.0 0.0 0.0 0.86 0.5 base_link laser_rear 100" />
 <node pkg="tf" type="static_transform_publisher" name="base_link_to_laser_front" args="0.0 0.0 0.0 0.0 0.0 0.5 0.86 base_link laser_front 100" />

 
 <node pkg="project2" name="odom_tf" respawn="false" type="odom_tf" output="screen"/>


 <!-- Gmapping -->
 <include file="$(find project2)/config/gmapping.launch.xml"/>


 <!-- Rviz config -->
 <node name="rviz" pkg="rviz" type="rviz" args="-d $(find project2)/rviz/gmapping_config.rviz" />


</launch>