<?xml version="1.0"?>
<!-- Test map_server + move_base and cost map, it works. -->

<launch>
    <node name="map_server" pkg="map_server" type="map_server" args="/home/dal/ros1_ws/map/0410-1.yaml"/>
    <node pkg="tf2_ros" type="static_transform_publisher" name="tf2_transform3" args="0 0 0 0 0 0 map odom"/>
    <node pkg="tf2_ros" type="static_transform_publisher" name="tf2_transform1" args="0 0 0 0 0 0 odom base_footprint" />
	<node pkg="tf2_ros" type="static_transform_publisher" name="tf2_transform2" args="0 0 0 0 0 0 base_footprint base_link" />
    <node pkg="rviz" type="rviz" name="amcl_show" args="-d $(find amcl)/test/for_demo.rviz"/>
	<!-- for nav -->

    <node pkg="move_base" type="move_base" respawn="false" name="move_base" output="screen">
        <!-- global planner -->
        <param name="base_global_planner" value="global_planner/GlobalPlanner" />
        <rosparam file="$(find nav_param)/cfg/global_planner_params.yaml" command="load" />

		<!-- local planner -->   
        <param name="base_local_planner" value="dwa_local_planner/DWAPlannerROS"/>      
        <rosparam file="$(find nav_param)/cfg/dwa_local_planner_params.yaml" command="load"/>
		<remap from="odom" to="/odometry/filtered"/>
		
        <!-- params for move_base -->
        <param name="planner_frequency" value="0.5" />
        <param name="controller_frequency" value="10.0" />
        <param name="controller_patience" value="3.0" />
        <param name="oscillation_timeout" value="5.0" />
        <param name="oscillation_distance" value="0.3" />
        <param name="clearing_rotation_allowed" value="false" />
        <!-- params for costmap layers --> 
        <rosparam file="$(find nav_param)/cfg/local_costmap_params.yaml" command="load"/>
        <rosparam file="$(find nav_param)/cfg/global_costmap_params.yaml" command="load"/>
    </node>
	
</launch>
